{% extends "layout.html" %}

{% block content %}
<iframe src="https://minnit.chat/ClassNotes?embed&&nickname=" style="border:none;width:90%;height:500px;" allowTransparency="true"></iframe><br><a href="https://minnit.chat/ClassNotes" target="_blank">Get your own free chatroom with Minnit Chat</a>
{% endblock %}
